div {
    border: 2px solid #ccc;
    padding: 20px 20px 40px 20px;
    margin-top: 40px;
    
}

span {
    position: relative;
    top: -10px;
    background-color: #e7e7e7;
    border: 1px solid #000;
    padding: 10px;
}