* {
    margin: 0;
    padding: 0;
}

.grid {
    background: red;
    min-height: 100vh;
}

.header {background: blue;}
.main {background: green;}
.lateral {background: yellow;}
.container {background: orange;}

.grid {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: repeat(3, 1fr);
}

.header {
    grid-column: 1 / -1;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
}

.main .lateral {
    grid-column: 4;
    grid-row: 1 / -1;
}

.main .container {
    grid-column: 1 / 4;
}