*
{
    font-family: Arial, Helvetica, sans-serif
}

/* estilos gerais */

body {
    margin: 40px;
}

h1, p {
    margin: 0px;
}

h1 {
    font-size: 48px;
}

p, span {
    font-size: 20px;
}

a
{
    background: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

.preco {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

/* grid */

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.preco {
    place-self: start end;
}

.titulo {
    grid-column: 2;
    text-align: right;
}

.comprar {
    align-self: start;
    text-align: center;
}

.descricao {
    text-align: right ;
}