*
{
    font-family: Arial, Helvetica, sans-serif
}

/* estilos gerais */

body {
    margin: 40px;
}

h1, p {
    margin: 0px;
}

h1 {
    font-size: 48px;
}

p, span {
    font-size: 20px;
}

a
{
    background: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

.preco {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

/* grid */

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: repeat(3, auto) 1fr;
    place-items: start;
}

.titulo {
    grid-column: 1 / -1;
}

.comprar {
    grid-column: 2;
}

.foto {
    grid-column: 1;
    grid-row: 2/5;
}
